---
layout: default
---

<div class="bigspacer"></div>

<div class="row">
    <div class="col-md-3">
        <div>
            {% if image %}
            <img class="float-start pad-right publication_large_image" src="{{ image }}"/>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="titlebox">
            <div class="title">
                {{ title }}
            </div>
            {%  if subtitle %}
            <div class="subtitle">
                {{ subtitle }}
            </div>
            {%  endif %}
            {%  if developers %}
            <div class="smallhead">
                {{ developers }}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="bigspacer"></div>

<div class="row">
    <div class="col-md-3">
        <div class="bigspacer"></div>
        <div class="note">
            {% if technologies %}
            <div class="smallhead subtle">
                Technologies
            </div>
            <div class="pad-left note">
                <div class="smallspacer"></div>
                {{ technologies }}
            </div>
                <div class="bigspacer"></div>
            {% endif %}
            {% if github %}
                <div class="smallhead subtle">
                    Source code
                </div>
                <div class="pad-left note">
                    <div class="smallspacer"></div>
                    <i class="fa fa-github fa-fw"></i>
                    <a class="off" href="{{ github }}">{{ github | remove: 'http://' | remove: 'https://' }}</a>
                </div>
                <div class="bigspacer"></div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="post">
            {{ content }}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="hugespacer"></div>